# Python Cache Files
__pycache__/
*.py[cod]

# Virtual Environments
.env/
.venv/
env/
venv/

# IDE Files
.vscode/
.idea/

# Jupyter Checkpoints
.ipynb_checkpoints/

# Private Data and Outputs
outputs_private/
data_private/

# Credentials
*.env
*.json
